---
---

@import "jekyll-theme-minimal";


nav#breadcrumb > ul {
	position:fixed;
	top:0px;
	left:0px;
}

nav#breadcrumb > ul {
	padding:0;
}

nav#breadcrumb > ul > li {
	display:inline;
	border:0;
}

nav#breadcrumb > ul > li::before {
	content: " \0025B6 ";
}
nav#breadcrumb > ul li:last-child:after {
	content: "";
}