<!DOCTYPE HTML>
<html>
<head>
 <title>Resume</title>
 
 <link rel="stylesheet" href="main.css" type="text/css" />
 
 <script async src='https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.min.js'></script>
 
 <script async src="https://unpkg.com/vue/dist/vue.js"></script>
 
 <script src="./cave.js" async></script>
 <script src="./index.js" async></script>
 <style>
	table{
		border-collapse:collapse;
	}
	td{
		position:relative;
		padding:0;
		margin:0;
		border:1px solid black;
		text-align:center;
		vertical-align: middle;
	}
	td > *{
	}
	
	
	table {
		width: 100%;
	}
	td {
		position: relative;
	}
	td:after {
		content: '';
		display: block;
		margin-top: 100%;
	}
 </style>
</head>
<body>
 <header>
  <h1>Jeff Cave</h1>
  <sup><a href='http://vius.ca'>Measure - Think - Act</a></sup>
 </header>
 <section>
  <fieldset id='opts' style='border:0;margin:0;padding:0;'>
   <button class='showhide'>&#9776;</button>
   <label for="rows">Rows</label>
   <input id="rows" name='rows' type="number" value="3" />
   <label for="cols">Cols</label>
   <input id="cols" name='cols' type="number" value="3" />
   <!--
   <label for="players">Players</label>
   <input id="players" name='players' type="number" value="0" />
   -->
   <button id='redraw'>Reset</button>
   <!--
   <button id='play'>Start</button>
   -->
  </fieldset>
  <label>Time</label>
  <output id='timer'>0:00</output>
  <label>Score</label>
  <output id='score'>0</output>
 </section>
 <main>
  <style>
   summary{
    text-align:right;
    border:1px solid magenta;
   }
   summary > h1{
    font-size: 1em;
    margin: 0;
   }
   ul.skills{
    padding-left:0;
    font-size:x-small;
   }
   ul.skills > li{
    display:inline;
   }
   ul.skills > li:after{
    content:', ';
   }
   ul.skills > li:last-of-type::after{
    content:'';
   }
  </style>
  <fieldset id='timeline'>
   <legend>TimeLine</legend>
   {{#companies}}
    <details open>
     <summary>
      <h1>{{name}}</h1>
      <a href='https://www.openstreetmap.org/?mlat={{location.geo.latitude}}&mlon={{location.geo.longitude}}#map=15/{{location.geo.latitude}}/{{location.geo.longitude}}'>{{location.address.addressLocality}}, {{location.address.addressRegion}}</a>
     </summary>
     {{#employees}}
     <section>
      <h2>{{roleName}}</h2>
      <p>({{startDate}} &rarr; {{endDate}})</p>
      {{{description}}}
      <ul class='skills'>
      {{#skills}}
       <li>{{.}}</li>
      {{/skills}}
      </ul>
     {{/employees}}
     </section>
    </details>
   {{/companies}}
  </fieldset>
 </main>
 <footer>
<address>
Jeff Cave
Resume
</address>
 </footer>
</body>
</html>
