<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    
    <script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>
    <script src="/assets/js/sitemapNav.js"></script>
    
    <link rel="stylesheet" href="/assets/css/style.css">
    <meta name="viewport" content="width=device-width">
    <title>{{ site.title }}</title>
  {% if page.title != null %}
    <title>{{ page.title }}</title>
  {% endif %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <a href="{{ site.baseurl}}"> <h1>{{ site.title }}</h1> </a>
        <p>{{ site.description }}</p>
        
        <p class='view'>
          <a href='https://stackoverflow.com/users/story/1961413'><i class="fab fa-stack-overflow"></i></a>
          <a href='https://github.com/JeffCave'><i class="fab fa-github"></i></a>
          <a href='https://gitlab.com/jefferey-cave'><i class="fab fa-gitlab"></i></a>
        </p>
        
        <ul class='action'>
          <li>
            <a href="https://drive.google.com/open?id=0B7-01GWEwOJcN3kzUnpZZEdjTEE">
              Download <strong><i class='far fa-file-alt'></i> Resume</strong>
            </a>
          </li>
          <li><a href="https://www.linkedin.com/in/jeffereycave/">Contact Via <strong>LinkedIn</strong></a></li>
          <li><a href="https://gitlab.com/jefferey-cave">View On <strong>GitLab</strong></a></li>
        </ul>
        <nav id='breadcrumb'><ul></ul></nav>
        <nav id='childpages'>
         <ul>
         </ul>
        </nav>
        <p></p>
      </header>
      <section>
        <h1>{{page.title}}</h1>
        <main>
      {{ content }}
        </main>
        <script>
          let main = document.querySelector('main');
          let headers = Array.from(main.querySelectorAll('h1,h2,h3,h4,h5,h6'));
          
          let toc = headers.map(function(d){
              let id = d.getAttribute('id');
              if(!id){
                id = d.innerText
                  .replace(/ /g, '')
                  .toLowerCase()
                  ;
                d.setAttribute('id',id);
              }
              let depth = parseInt(d.nodeName.replace('H',''),10);
              return {
                  id:id,
                  depth: depth,
                  text:d.innerText,
                  node:d,
                };
            })
            .map(function(d){
              let html = "<li><a href='#{id}'>{label}</a></li>"
                .replace(/{id}/g, d.id)
                .replace(/{label}/g, d.text)
                ;
              return html;
            })
            ;
          toc.unshift('<ul>');
          toc.push('</ul>');
          toc = toc.join('');
          //main.innerHTML = toc + main.innerHTML;
          
          const siteMap = new SiteMapNav();
          siteMap.getChildren().then(function(children){
            let childpages = document.querySelector('nav#childpages > ul');
            childpages.innerHTML = children.map(function(loc){
              return '<li><a href="' + loc.url + '">'+loc.title+'</a></li>';
            }).join('\n');
          });
          siteMap.getPath().then(function(path){
            let pathLinks = document.querySelector('nav#breadcrumb > ul');
            path.unshift({title:'Home',url:'/'});
            pathLinks.innerHTML = path.map(function(loc){
              return '<li><a href="' + loc.url + '">'+loc.title+'</a></li>';
            }).join('\n');
          });
        </script>
      </section>
      <footer>
        <p>Hosted on GitLab Pages</p>
        <p>Theme by <a href="https://github.com/orderedlist">orderedlist</a></p>
      </footer>
    </div>
    <script src="/assets/js/scale.fix.js"></script>
    <script>
    </script>

  {% if site.google_analytics %}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
    </script>
  {% endif %}
  </body>
</html>
